<!DOCTYPE html>
<html lang="en"  style="height:100%;">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Questrade Total Return</title>

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Total return</h1>
    <p class="lead">Hi there, this website will calculate your total return from your Questrade investments</p>
  </div>
</div>

<form method=POST enctype=multipart/form-data>
  <div class="input-group mb-3">
      <div class="custom-file">
        <input type="file" name="file" class="custom-file-input" id="inputGroupFile02">
        <label class="custom-file-label" for="inputGroupFile02" id="file-upload-filename" aria-describedby="inputGroupFileAddon02">Choose file</label>
      </div>

    <div class="input-group-append" onclick="onClick()">
      <input type="submit" value="Upload" class="input-group-text" id="inputGroupFileAddon02">
    </div>
  </div>
</form>

{% if totalReturn %}
<div class="alert alert-success" role="alert">Your total return is: {{ totalReturn }}</div>
{% endif %}


<!--for error messages-->
{% for message in get_flashed_messages() %}
  <div class="alert alert-warning" role="alert" class=flash> {{ message }}</div>

{% endfor %}


<div class="alert alert-warning" role="alert" id="calculatingMessage" style="display:none;">Calculating</div>




<script>
// The following JS will set the file name in the choose file field box
var input = document.getElementById( 'inputGroupFile02' );
var infoArea = document.getElementById( 'file-upload-filename' );

input.addEventListener( 'change', showFileName );

function showFileName( event ) {
  // the change event gives us the input it occurred in
  var input = event.srcElement;

  // the input has an array of files in the `files` property, each one has a name that you can use. We're just using the name here.
  var fileName = input.files[0].name;

  // use fileName however fits your app best, i.e. add it into a div
  infoArea.textContent = 'File name: ' + fileName;
}

function onClick() {
  document.getElementById('calculatingMessage').style.display = '';
}
</script>

<!-- jQuery and bootstrap -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>


</body>
</html>